.contact-form-section {
    background-image: url('../../img/Form\ image.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    position: relative;
}

Form Label {
    text-align: right;
}

.txt-content {
    text-align: right;
    float: right;
    color: white;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.54px;
    letter-spacing: 0.06em;

}

.contact-form-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #66BB6A;
    /* Green color */
}

.form-control {
    background-color: rgba(255, 255, 255, 0.7) !important;
    border-radius: 10px;
}

button {
    background-color: #66BB6A;
    padding: 10px 30px;
    border-radius: 10px;
}

button:hover {
    background-color: #558B2F;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}