.aboutus-section {
    background-image: url('../../img/about.png');
    /* Correct syntax */
    background-size: cover;
    /* Use hyphen instead of camelCase */
    background-position: center;
    padding: 50px 0;
    color: black;
    text-align: center;
    /* Fixed camelCase */
}


.readmorebtn {
    background: rgba(139, 204, 0, 1);
    border: none;
}