.aboutus-section {
    background-image: url('../../img/Group\ 328.png');
    /* Correct syntax */
    background-size: cover;
    /* Use hyphen instead of camelCase */
    background-position: center;
    padding: 50px 0;
    color: black;
    text-align: center;
    height: 468px;
    /* Fixed camelCase */
}


.readmorebtn {
    background: rgba(139, 204, 0, 1);
    border: none;
}


.sunfields-heading .heading-3 {
    font-family: Arial;
    font-size: 36px;
    font-weight: 700;
    line-height: 41.4px;
    letter-spacing: 0.06em;
    text-align: justify;
    padding-left: 20px;
}

.sunfields-heading h4 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.54px;
    letter-spacing: 0.06em;

}

.sunfields-heading img {
    align-items: center !important;
}